
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
    
    </div>
    <div class="col-sm">
    <h2>Bienvenido<span class="badge badge-secondary">Farmacia ANS</span></h2>
    </div>
    

    <div class="col-sm">
    </div>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <ul>  
    <li><%= link_to 'Ir a Medicinas', medicines_path %></li>
    <li><%= link_to 'ir a Empleados', employees_path %></li>
    <li><%= link_to 'ir a Distribuidores', providers_path %></li>
    </ul>
    </ol>
</nav>




