<h1>Bienvenido</h1>
<p>Farmacia Itiz</p>


<h1>Farmacia</h1>
<ul>
    <li><%= link_to 'Ir a Medicinas', medicines_path %></li>
    <li><%= link_to 'ir a Empleados', employees_path %></li>
    <li><%= link_to 'ir a Distribuidores', providers_path %></li>
</ul>

