
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Logo-TecNM-2017.png" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm">
    <h2>Bienvenido<span class="badge badge-secondary">Farmacia Itiz</span></h2>
    </div>
    
    <div class="col-sm">
    </div>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <ul>  
    </ul>
    </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm">
    <li><%= link_to 'Ir a Medicinas', medicines_path %></li>
    </div>
    <div class="col-sm">
    <li><%= link_to 'ir a Empleados', employees_path %></li>
    </div>
    <div class="col-sm">
    <li><%= link_to 'ir a Distribuidores', providers_path %></li>
    </div>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <ul>  
    </ul>
    </ol>
</nav>




